.menu * {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  /* border: 1px solid black; */
  position: relative;
  top: 0;
  left: 0;
  width: 25vw;
  /* min-width: 300px; */
  background:  rgb(85, 146, 182);
  
  height: 100vh;

  transition: 0.5s;
  z-index: 500;
}

.content img {
  border-radius: 50%;
  width: 10vw;
  min-width: 125px;
  height: auto;
  margin-top: 25vh;
}

.content h1 {
  /* border: 1px solid black; */
  margin-bottom: -15px;
  font-size: 1.5rem;
  font-weight: 400;
}

.content h2 {
  /* border: 1px solid black; */

  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.content button {
  background-color: black;
  border: 0;
  border-radius: 5px;
  color: yellow;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: 1s;
}

.content button:hover {
  background-color: rgba(20, 133, 238, 0.849);
  color: black;
}


.submenu {
  position: absolute;
  top: 0;
  left: 25vw;
  width: 15vw;
  min-width: 200px;
  height: 100vh;
  background:  rgb(85, 146, 182);
}

.expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  border-left: 1px solid black;
}

.expanded a {
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
  margin: 0 20vw 0 20vw;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 1rem;
  transition: 0.8s;

  
}


.expanded a:hover {
  border-radius: 10px;
  background: black;
  color: yellow;
}




