@media (orientation: portrait) {


  .none {
      margin-left: 0vw;
      margin-top: -150vh;
      transition: 1s;
  }

  .content {
    width: 100vw;
    height: 40vh;
  }

  .content img {
    margin: 1rem 0 0 0;
    width: 17vh;
    min-width: 100px;
  }

  .content h1 {
    font-size: 1.2rem;
  }

  .content h2 {
    font-size: 0.85rem;
  }

  .content button {
    font-size: 1rem;
    padding: 0.75rem;
    color: whitesmoke;
    z-index: 500;
  }

  .submenu {
    position: absolute;
    top: 40vh;
    left: 0;
    width: 100vw;
    height: auto;
}
  
  .expanded {
    height: auto;
    /* border-top: 1px solid black; */
    border-left: none;
    

  }

  .expanded a {
    /* background: black; */
    border-bottom: none;
    border-radius: 8px;
    background: black;
    margin: 2vh 10vh 2vh 10vh;
    color: whitesmoke;
  }


  .background {
    position: absolute;
    top: 40vh;
    left: 0;
    /* border: 1px solid black; */
    width: 100vw;
    height: 60vh;
  
    background: url("../assets/1.svg") no-repeat;
    background-position: center;
    background-size: 65vw;
    z-index: -10;
    
  }


  



}
